.account-menu-container {
  &.MuiList-root {
    padding: 0;
  }
}

.account-menu-icons {
  &.MuiSvgIcon-root {
    font-size: 20px;
  }
}

.account-menu-text {
  &.MuiTypography-root {
    font-size: 14px;
    font-family: Roboto-Medium;
  }
}

.account-menu-name {
  &.MuiTypography-root {
    font-size: 14px;
    font-family: Roboto-Medium;
    text-transform: capitalize;
  }
}

@media (max-height: 768px) {
  .account-menu-container {
    &.MuiList-root {
      padding: 0;
    }
  }

  .account-menu-icons {
    &.MuiSvgIcon-root {
      font-size: 16px;
    }
  }

  .account-menu-text {
    &.MuiTypography-root {
      font-size: 12px;
      font-family: Roboto-Medium;
    }
  }

  .account-menu-name {
    &.MuiTypography-root {
      font-size: 12px;
      font-family: Roboto-Medium;
      text-transform: capitalize;
    }
  }
}
