.ap-modal-container {
  &.MuiPaper-root {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
  }
}

.ap-image {
  width: 75px;
}

.ap-text {
  &.MuiTypography-root {
    font-family: Roboto-Black;
    font-size: 25px;
    letter-spacing: 1px;
  }
}

.add-ap-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ap-devider {
  &.MuiDivider-root {
    width: 100%;
    margin-right: 3px;
  }
}

.add-ap-textbox {
  &.MuiFormControl-root {
    min-height: 60px;
    .MuiInputBase-root {
      border-radius: 10px;
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormLabel-root {
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormHelperText-root {
      font-family: Roboto-Light;
      letter-spacing: 1px;
    }
  }
}

.add-ap-button-container {
  &.MuiBox-root {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    min-width: 350px;
  }
}

.add-ap-button {
  &.MuiButtonBase-root {
    font-family: Roboto-Medium;
    text-transform: none;
  }
}

.loading-ap-create {
  .MuiPaper-root {
    box-shadow: none;
    background-color: transparent;
    width: 325px;
  }
}
