.page-text-indicator-account-number {
  &.MuiTypography-root {
    font-family: "Roboto-Black";
    font-size: 24px;
    margin-left: 20px;
  }
}

.account-number-head-container {
  &.MuiBox-root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
  }
}

.account-number-button-container {
  &.MuiBox-root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

.account-number-body-container {
  &.MuiBox-root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
}

.loading-account-number {
  height: 500px;
}

.no-data-account-number {
  height: 500px;
  opacity: 0.7;
  filter: grayscale(0.3);
}

.account-number-table-container {
  &.MuiTableContainer-root {
    max-height: 735px;
    &::-webkit-scrollbar {
      width: 14px;
      border: 3px solid #fff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 20px;
      border: 3px solid #fff;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #f4ce92;
    }
    &::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 20px;
      border: 3px solid #fff;
    }
    &::-webkit-scrollbar-track:hover {
      background-color: #eee;
    }
  }
}

.table-header1-account-number {
  &.MuiTableRow-root {
    .MuiTableCell-root {
      border: none;
      font-family: Roboto-Bold;
      letter-spacing: 1px;
      padding: 10px;
    }
  }
}

.table-header-account-number {
  &.MuiTableRow-root {
    .MuiTableCell-root {
      border: none;
      font-family: Roboto-Bold;
      letter-spacing: 1px;
      color: #f4ce92;
      background-color: #15253b;
      padding: 14px;
    }
  }
}

.table-body-account-number {
  &.MuiTableRow-root {
    .MuiTableCell-root {
      border-bottom: 4px solid #f2f2f2;
      padding: 8px;
      font-family: Roboto-Light;
      letter-spacing: 1px;
      max-width: 500px;
    }
    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.account-number-company-name {
  &.MuiTypography-root {
    font-family: Roboto-Black;
    letter-spacing: 1px;
    font-size: 14px;
  }
}

.account-number-company-tin {
  &.MuiTypography-root {
    font-family: Roboto-Medium;
    letter-spacing: 1px;
    font-size: 14px;
    color: #f4ce92;
  }
}

.account-number-company-address {
  &.MuiTypography-root {
    font-family: Roboto-Light;
    letter-spacing: 1px;
    font-size: 12px;
  }
}
.account-number-company-proprietor {
  &.MuiTypography-root {
    font-family: Roboto-Light;
    letter-spacing: 1px;
    font-size: 12px;
    color: #b6622d;
  }
}

.table-footer-account-number {
  &.MuiTableRow-root {
    .MuiTableCell-root {
      border: none;
      padding: 1px;
      background-color: #fff;

      .MuiTablePagination-root {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .MuiTablePagination-selectLabel {
          font-family: Roboto-Light;
        }
        .MuiInputBase-root {
          font-family: Roboto-Light;
        }
        .MuiTablePagination-displayedRows {
          font-family: Roboto-Light;
        }
      }
    }
  }
}

.account-number-icon-actions {
  &.MuiSvgIcon-root {
    font-size: 20px;
  }
}

.account-number-menu-icons {
  &.MuiSvgIcon-root {
    font-size: 20px;
  }
}

.account-number-menu-text {
  &.MuiTypography-root {
    font-size: 14px;
    font-family: Roboto-Medium;
  }
}

.button-add-account-number {
  &.MuiButtonBase-root {
    text-transform: none;
    font-family: Roboto-Medium;
  }
}

.account-number-modal-dialog {
  .MuiPaper-root {
    max-width: 810px;
  }
}

.account-number-icon-actions {
  &.MuiSvgIcon-root {
    font-size: 20px;
  }
}

.loading-account-number-create {
  .MuiPaper-root {
    box-shadow: none;
    background-color: transparent;
  }
}

.button-export-account-number {
  &.MuiButtonBase-root {
    text-transform: none;
    font-family: Roboto-Medium;
    margin-left: 15px;
  }
}

.header-options-account-number {
  &.MuiBox-root {
    background-color: #15253b;
  }
}

@media (max-height: 768px) {
  .page-text-indicator-account-number {
    &.MuiTypography-root {
      font-size: 18px;
    }
  }

  .account-number-head-container {
    &.MuiBox-root {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;
    }
  }

  .check-box-archive-account-number {
    &.MuiFormControlLabel-root {
      .MuiSvgIcon-root {
        font-size: 16px;
      }
      .MuiTypography-root {
        font-size: 12px;
      }
    }
  }

  .loading-account-number {
    height: 350px;
  }

  .no-data-account-number {
    height: 350px;
  }

  .account-number-table-container {
    &.MuiTableContainer-root {
      max-height: 500px;
    }
  }

  .table-header1-account-number {
    &.MuiTableRow-root {
      .MuiTableCell-root {
        padding: 5px;
      }
    }
  }

  .table-header-account-number {
    &.MuiTableRow-root {
      .MuiTableCell-root {
        padding: 10px;
        font-size: 10px;
      }
    }
  }

  .table-body-account-number {
    &.MuiTableRow-root {
      .MuiTableCell-root {
        padding: 4px;
        font-size: 11px;
      }
    }
  }

  .table-footer-account-number {
    &.MuiTableRow-root {
      .MuiTableCell-root {
        border: none;
        padding: 1px;
        background-color: #fff;

        .MuiTablePagination-root {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .MuiTablePagination-selectLabel {
            font-size: 12px;
          }
          .MuiInputBase-root {
            font-size: 12px;
          }
          .MuiTablePagination-displayedRows {
            font-size: 12px;
          }
          .MuiSvgIcon-root {
            font-size: 18px;
          }
        }
      }
    }
  }

  .account-number-icon-actions {
    &.MuiSvgIcon-root {
      font-size: 18px;
    }
  }

  .account-number-menu-icons {
    &.MuiSvgIcon-root {
      font-size: 18px;
    }
  }

  .account-number-menu-text {
    &.MuiTypography-root {
      font-size: 12px;
      font-family: Roboto-Medium;
    }
  }

  .button-add-account-number {
    &.MuiButtonBase-root {
      text-transform: none;
      font-family: Roboto-Medium;
      font-size: 10px;
      max-height: 25px;
      max-width: 25px;
      .MuiSvgIcon-root {
        font-size: 14px;
      }
    }
  }

  .account-number-icon-actions {
    &.MuiSvgIcon-root {
      font-size: 18px;
    }
  }

  .loading-account-number-create {
    .MuiPaper-root {
      box-shadow: none;
      background-color: transparent;
    }
  }
  .button-export-account-number {
    &.MuiButtonBase-root {
      font-size: 11px;
    }
  }
}
