.appbar-container {
  &.MuiBox-root {
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
  }
}

.appBar {
  &.MuiAppBar-root {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    z-index: 5;
  }

  .menuBarBox {
    &.MuiBox-root {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .MuiSvgIcon-root {
    font-size: 1.5rem;
  }
}

.appBarLogo {
  width: 140px;
  margin: 10px;
}

.body-container {
  &.MuiPaper-root {
    overflow-y: auto;
    min-width: 93vw;
    max-height: 88vh;
    transition: all 0.2s ease;
    background-color: #f2f2f2;
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 20px;
      border: 1px solid #fff;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #f4ce92;
    }
    &::-webkit-scrollbar-track {
      border-radius: 20px;
    }
    &::-webkit-scrollbar-track:hover {
      background-color: #eee;
    }
  }
}

.body-container.open {
  &.MuiPaper-root {
    min-width: 86vw;
  }
}

.appBar-account-settings {
  &.MuiBox-root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #15253b;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
}

.account-first-letter {
  &.MuiTypography-root {
    font-family: Roboto-Medium;
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .body-container {
    &.MuiPaper-root {
      min-width: 93vw;
    }
  }
  .body-container.open {
    &.MuiPaper-root {
      min-width: 80vw;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .body-container {
    &.MuiPaper-root {
      min-width: 90vw;
      min-height: 80vh;
    }
  }
  .body-container.open {
    &.MuiPaper-root {
      min-width: 72vw;
    }
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .body-container {
    &.MuiPaper-root {
      min-width: 82vw;
    }
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .body-container {
    &.MuiPaper-root {
      min-width: 71vw;
    }
  }
}

@media (max-width: 575px) {
  .appbar-container {
    &.MuiBox-root {
      margin-top: 60px;
      margin-left: 40px;
      margin-right: 30px;
    }
  }

  .appBar {
    &.MuiAppBar-root {
      min-height: 40px;
      padding-right: 10px;
      padding-left: 13px;
    }

    .MuiSvgIcon-root {
      font-size: 18px;
    }
  }

  .appBarLogo {
    width: 120px;
    margin: 8px;
  }
  .body-container {
    &.MuiPaper-root {
      min-width: 93vw;
      min-height: 91vh;
      transition: all 0.2s ease;
    }
  }
  .body-container.open {
    &.MuiPaper-root {
      min-width: 93vw;
    }
  }

  .appBar-account-settings {
    &.MuiBox-root {
      width: 25px;
      height: 25px;
    }
  }

  .account-first-letter {
    &.MuiTypography {
      font-family: Roboto-Medium;
    }
  }
}

// @media (min-height: 800px) and (max-height: 1024px) {
@media (max-height: 768px) {
  .appbar-container {
    &.MuiBox-root {
      margin-top: 60px;
    }
  }

  .appBar {
    &.MuiAppBar-root {
      min-height: 10px;
    }

    .MuiSvgIcon-root {
      font-size: 14px;
    }
  }

  .appBarLogo {
    width: 80px;
    margin: 10px;
  }

  .appBar-account-settings {
    &.MuiBox-root {
      width: 20px;
      height: 20px;
    }
  }

  .account-first-letter {
    &.MuiTypography-root {
      font-size: 10px;
    }
  }
}
