.card-navigation-container {
  &.MuiCard-root {
    min-width: 200px;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
}

.card-content {
  &.MuiCardContent-root {
    min-height: 170px;
    max-height: 170px;
  }
}

.icon-card-details {
  &.MuiSvgIcon-root {
    background-color: #1a1d24;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.card-title {
  &.MuiTypography-root {
    font-family: Roboto-Black;
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.card-details {
  &.MuiTypography-root {
    font-family: Roboto-Light;
    font-size: 14px;
  }
}

.card-last-icon {
  &.MuiBox-root {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.icon-last {
  &.MuiSvgIcon-root {
    background-color: #1a1d24;
    padding: 10px;
    border-radius: 10px;
    transform: rotate(90deg);
  }
}

@media (max-width: 320px) {
  .card-navigation-container {
    &.MuiCard-root {
      max-width: 250px;
      min-width: 250px;
    }
  }

  .card-content {
    &.MuiCardContent-root {
      min-height: 60px;
      max-height: 60px;
    }
  }

  .icon-card-details {
    &.MuiSvgIcon-root {
      display: none;
    }
  }

  .card-title {
    &.MuiTypography-root {
      font-family: Roboto-Black;
      font-size: 14px;
    }
  }

  .card-details {
    &.MuiTypography-root {
      font-family: Roboto-Light;
      font-size: 12px;
    }
  }

  .icon-last {
    &.MuiSvgIcon-root {
      font-size: 15px;
    }
  }
}
@media (min-width: 321px) and (max-width: 425px) {
  .card-navigation-container {
    &.MuiCard-root {
      max-width: 250px;
      min-width: 250px;
    }
  }

  .card-content {
    &.MuiCardContent-root {
      min-height: 60px;
      max-height: 60px;
    }
  }

  .icon-card-details {
    &.MuiSvgIcon-root {
      display: none;
    }
  }

  .card-title {
    &.MuiTypography-root {
      font-family: Roboto-Black;
      font-size: 14px;
    }
  }

  .card-details {
    &.MuiTypography-root {
      font-family: Roboto-Light;
      font-size: 12px;
    }
  }

  .icon-last {
    &.MuiSvgIcon-root {
      font-size: 15px;
    }
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .card-navigation-container {
    &.MuiCard-root {
      max-width: 350px;
      min-width: 350px;
    }
  }

  .card-content {
    &.MuiCardContent-root {
      min-height: 60px;
      max-height: 60px;
    }
  }

  .icon-card-details {
    &.MuiSvgIcon-root {
      display: none;
    }
  }

  .card-title {
    &.MuiTypography-root {
      font-family: Roboto-Black;
      font-size: 14px;
    }
  }

  .card-details {
    &.MuiTypography-root {
      font-family: Roboto-Light;
      font-size: 12px;
    }
  }

  .icon-last {
    &.MuiSvgIcon-root {
      font-size: 15px;
    }
  }
}

@media (max-height: 768px) {
  .card-navigation-container {
    &.MuiCard-root {
      max-width: 200px;
    }
  }

  .card-content {
    &.MuiCardContent-root {
      min-height: 150px;
      max-height: 150px;
    }
  }

  .icon-card-details {
    &.MuiSvgIcon-root {
      font-size: 14px;
    }
  }

  .card-title {
    &.MuiTypography-root {
      font-family: Roboto-Black;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  .card-details {
    &.MuiTypography-root {
      font-family: Roboto-Light;
      font-size: 12px;
    }
  }

  .icon-last {
    &.MuiSvgIcon-root {
      font-size: 14px;
    }
  }
}
