.change-password-container {
  &.MuiPaper-root {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }
}

.change-password-image {
  width: 75px;
}

.change-password-text {
  &.MuiTypography-root {
    font-family: Roboto-Black;
    font-size: 28px;
    letter-spacing: 2px;
  }
}

.change-password-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.change-password-textbox {
  &.MuiFormControl-root {
    min-height: 7vh;
    .MuiInputBase-root {
      border-radius: 30px;
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormLabel-root {
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormHelperText-root {
      font-family: Roboto-Light;
      letter-spacing: 1px;
    }
  }
}

.change-password-button-container {
  &.MuiBox-root {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    min-width: 350px;
  }
}

.change-password-button {
  &.MuiButtonBase-root {
    font-family: Roboto-Medium;
    text-transform: none;
  }
}

.loading-dialogBox {
  .MuiPaper-root {
    background-color: transparent;
    box-shadow: none;
  }
}

@media (max-width: 320px) {
  .change-password-image {
    width: 60px;
  }

  .change-password-text {
    &.MuiTypography-root {
      font-size: 18px;
      letter-spacing: 2px;
    }
  }

  .change-password-textbox {
    &.MuiFormControl-root {
      min-height: 7.5vh;
      .MuiInputBase-root {
        font-size: 0.8rem;
      }
      .MuiFormLabel-root {
        font-size: 0.8rem;
      }
      .MuiFormHelperText-root {
        font-size: 0.7rem;
      }
    }
  }

  .change-password-button-container {
    &.MuiBox-root {
      margin-top: 0;
      min-width: 70vw;
    }
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  .change-password-image {
    width: 60px;
  }

  .change-password-text {
    &.MuiTypography-root {
      font-size: 18px;
      letter-spacing: 2px;
    }
  }

  .change-password-textbox {
    &.MuiFormControl-root {
      min-height: 7vh;
      .MuiInputBase-root {
        font-size: 0.8rem;
      }
      .MuiFormLabel-root {
        font-size: 0.8rem;
      }
      .MuiFormHelperText-root {
        font-size: 0.7rem;
      }
    }
  }

  .change-password-button-container {
    &.MuiBox-root {
      margin-top: 0;
      min-width: 70vw;
    }
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .change-password-image {
    width: 70px;
  }

  .change-password-text {
    &.MuiTypography-root {
      font-family: Roboto-Black;
      font-size: 24px;
      letter-spacing: 2px;
    }
  }

  .change-password-textbox {
    &.MuiFormControl-root {
      min-height: 7vh;
      .MuiInputBase-root {
        font-size: 0.9rem;
      }
      .MuiFormLabel-root {
        font-size: 0.9rem;
      }
      .MuiFormHelperText-root {
        font-size: 0.8rem;
      }
    }
  }

  .change-password-button-container {
    &.MuiBox-root {
      min-width: 350px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .change-password-image {
    width: 70px;
  }

  .change-password-text {
    &.MuiTypography-root {
      font-family: Roboto-Black;
      font-size: 24px;
      letter-spacing: 2px;
    }
  }

  .change-password-textbox {
    &.MuiFormControl-root {
      min-height: 7vh;
      .MuiInputBase-root {
        font-size: 0.9rem;
      }
      .MuiFormLabel-root {
        font-size: 0.9rem;
      }
      .MuiFormHelperText-root {
        font-size: 0.8rem;
      }
    }
  }

  .change-password-button-container {
    &.MuiBox-root {
      min-width: 350px;
    }
  }
}

@media (max-height: 681px) {
  .change-password-image {
    width: 54px;
  }

  .change-password-text {
    &.MuiTypography-root {
      font-size: 20px;
    }
  }

  .change-password-textbox {
    &.MuiFormControl-root {
      min-height: 60px;
      .MuiInputBase-root {
        font-size: 12px;
      }
      .MuiFormLabel-root {
        font-size: 12px;
      }
      .MuiFormHelperText-root {
        font-size: 10px;
      }
    }
  }

  .change-password-button-container {
    &.MuiBox-root {
      min-width: 270px;
    }
  }

  .change-password-button {
    &.MuiButtonBase-root {
      font-size: 11px;
    }
  }

  .loading-dialogBox {
    .MuiPaper-root {
      width: 270px;
    }
  }
}
