.change-password-container {
  &.MuiPaper-root {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 20vw;
    min-height: 45vh;
    gap: 10px;
  }
}

.change-password-image {
  width: 5vw;
}

.change-password-text {
  &.MuiTypography-root {
    font-family: Roboto-Black;
    font-size: 28px;
    letter-spacing: 2px;
  }
}

.change-password-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 17vw;
}

.change-password-textbox {
  &.MuiFormControl-root {
    min-height: 70px;
    .MuiInputBase-root {
      border-radius: 30px;
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormLabel-root {
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
  }
}

.change-password-button-container {
  &.MuiBox-root {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-width: 17vw;
    gap: 10px;
  }
}
