.department-modal-container {
  &.MuiPaper-root {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
  }
}

.department-image {
  width: 75px;
}

.department-text {
  &.MuiTypography-root {
    font-family: Roboto-Black;
    font-size: 25px;
    letter-spacing: 1px;
  }
}

.add-department-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.department-devider {
  &.MuiDivider-root {
    width: 100%;
    margin-right: 3px;
  }
}

.add-department-textbox {
  &.MuiFormControl-root {
    min-height: 60px;

    width: 350px;
    .MuiInputBase-root {
      border-radius: 10px;
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormLabel-root {
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormHelperText-root {
      font-family: Roboto-Light;
      letter-spacing: 1px;
    }
  }
}

.department-box-container-scope {
  &.MuiBox-root {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 350px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 14px;
      border: 3px solid #fff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 20px;
      border: 3px solid #fff;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #f4ce92;
    }
    &::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 20px;
      border: 3px solid #fff;
    }
    &::-webkit-scrollbar-track:hover {
      background-color: #eee;
    }
  }
}

.add-department-button-container {
  &.MuiBox-root {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    min-width: 350px;
  }
}

.add-department-button {
  &.MuiButtonBase-root {
    font-family: Roboto-Medium;
    text-transform: none;
  }
}

.loading-department-create {
  .MuiPaper-root {
    box-shadow: none;
    background-color: transparent;
    width: 325px;
  }
}
