.menuDrawer {
  overflow: hidden;
  &.MuiDrawer-root {
    width: 70px;
    transition: width 0.2s ease;
    .MuiPaper-root {
      z-index: 1;
      display: flex;
      align-items: center;
      width: 70px;
      transition: width 0.2s ease;
      overflow: hidden;
    }
  }
}

.menuDrawer.open {
  &.MuiDrawer-root {
    width: 230px;
    .MuiPaper-root {
      width: 230px;
    }
  }
}

.menuList {
  &.MuiList-root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    .selectedList {
      &.MuiListItemButton-root {
        width: 55px;
        transition: width 0.2s ease;
        border-radius: 10px;
      }
    }
  }
}

.menuList.open {
  &.MuiList-root {
    width: unset;
    .selectedList {
      &.MuiListItemButton-root {
        width: 220px;
      }
    }
  }
}

.selectedList.selected {
  &.MuiListItemButton-root {
    background-color: #15253b;
    gap: 0;
  }
}
.list-icon {
  &.MuiListItemIcon-root {
    color: #1a1d24;
    font-size: 0.8rem;
    min-width: 40px;
  }
}
.list-icon.selected {
  &.MuiListItemIcon-root {
    color: #f4ce92;
  }
}

.listText {
  .MuiTypography-root {
    font-family: "Roboto-Medium";
    white-space: nowrap;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: #1a1d24;
  }
}
.listText.selected {
  .MuiTypography-root {
    color: #f4ce92;
  }
}

@media screen and (max-width: 786px) {
  .menuDrawer.open {
    display: none;
  }
}
