.menuDrawer {
  &.MuiDrawer-root {
    width: 70px;
    transition: width 0.2s ease;

    .MuiPaper-root {
      z-index: 1;
      display: flex;
      align-items: center;
      width: 70px;
      transition: width 0.2s ease;
      overflow: hidden;

      .toolBarMenu {
        &.MuiToolbar-root {
          min-height: 60px;
        }
      }
      .menuList {
        &.MuiList-root {
          width: 100%;
          display: flex;
          flex-direction: column;

          .selectedList {
            &.MuiListItemButton-root {
              border-left: 10px solid white;
              border-radius: 20px;
            }
          }

          .selectedList.select {
            &.MuiListItemButton-root {
              background-color: rgb(238, 233, 218);
              border-left: 10px solid rgba(211, 125, 63, 0.712);
              border-radius: 20px;
            }
          }
          .selectedIcon {
            &.MuiButtonBase-root {
              background-color: rgb(238, 233, 218);
            }
          }
          .listText {
            .MuiTypography-root {
              font-family: "GoldmanRegular";
              letter-spacing: 2px;
            }
          }
        }
      }
      .menuList.open {
        &.MuiList-root {
          width: unset;
        }
      }
    }
  }
  overflow: hidden;
}
.menuDrawer.open {
  &.MuiDrawer-root {
    z-index: 2;
    width: 190px;
    .MuiPaper-root {
      width: 225px;
    }
  }
}

@media screen and (max-width: 786px) {
  .menuDrawer.open {
    display: none;
  }
}
