.menuDrawer {
  &.MuiDrawer-root {
    width: 75px;
    transition: all 0.2s ease;
    .MuiPaper-root {
      z-index: 3;
      display: flex;
      align-items: center;
      width: 70px;
      transition: all 0.2s ease;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 14px;
        border: 3px solid #fff;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 20px;
        border: 3px solid #fff;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: #f4ce92;
      }
      &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 20px;
        border: 3px solid #fff;
      }
      &::-webkit-scrollbar-track:hover {
        background-color: #eee;
      }
    }
  }
}

.accordion-drawer {
  &.MuiPaper-root {
    margin: 0;
    border-radius: 10px;
    overflow: visible !important;
  }
  &.MuiAccordion-root {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;

    &::before {
      background-color: unset;
    }
  }
}

.menuDrawer.open {
  &.MuiDrawer-root {
    width: 220px;
    overflow: visible !important;

    .MuiPaper-root {
      width: 240px;
    }
  }
}

.menuList {
  &.MuiList-root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .selectedList {
      &.MuiListItemButton-root {
        width: 55px;
        transition: width 0.2s ease;
        border-radius: 10px;
      }
    }
  }
}

.menuList.open {
  &.MuiList-root {
    width: unset;
    .selectedList {
      &.MuiListItemButton-root {
        width: 220px;
      }
    }
    .selectedChildList {
      &.MuiListItemButton-root {
        width: 210px;
        transition: width 0.2s ease;
        border-radius: 10px;
        margin-top: 2px;
        margin-left: 11px;
      }
    }

    .selectedChildList-child {
      &.MuiListItemButton-root {
        width: 210px;
        transition: width 0.2s ease;
        border-radius: 10px;
        margin-top: 2px;
        padding-left: 12px;
      }
    }
  }
}

.selectedChildList.selected {
  &.MuiListItemButton-root {
    background-color: #3a4c6b;
    gap: 0;
  }
}

.selectedChildList-child.selected {
  &.MuiListItemButton-root {
    background-color: #3a4c6b;
    gap: 0;
  }
}

.selectedList.selected {
  &.MuiListItemButton-root {
    background-color: #15253b;
    gap: 0;
  }
}
.list-icon {
  &.MuiListItemIcon-root {
    .MuiSvgIcon-root {
      color: #1a1d24;
      font-size: 1.5rem;
    }
    min-width: 46px;
  }
}

.list-icon.selected {
  &.MuiListItemIcon-root {
    .MuiSvgIcon-root {
      color: #f4ce92;
    }
  }
}

.listText {
  .MuiTypography-root {
    font-family: "Roboto-Medium";
    white-space: nowrap;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: #1a1d24;
  }
}
.listText.selected {
  .MuiTypography-root {
    color: #f4ce92;
  }
}

.end-of-drawer {
  &.MuiBox-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 1px;
    text-align: center;
  }
}
.misLogo {
  width: 50px;
  height: 50px;
}

.misRights {
  &.MuiTypography-root {
    font-family: "Roboto-Light";
    font-size: small;
    transition: all 0.2s ease;
  }
}

.misLogo.open {
  width: 50px;
  height: 50px;
}

.misRights.close {
  &.MuiTypography-root {
    display: none;
    transition: all 0.2s ease;
  }
}

@media (max-width: 320px) {
  .menuDrawer {
    &.MuiDrawer-root {
      width: 0px;
      .MuiPaper-root {
        width: 0px;
      }
    }
  }

  .menuDrawer.open {
    &.MuiDrawer-root {
      width: 0px;
      .MuiPaper-root {
        width: 200px;
      }
    }
  }

  .menuList.open {
    &.MuiList-root {
      width: unset;
      .selectedList {
        &.MuiListItemButton-root {
          width: 190px;
        }
      }
      .selectedChildList {
        &.MuiListItemButton-root {
          width: 180px;
        }
      }
    }
  }

  .list-icon {
    &.MuiListItemIcon-root {
      .MuiSvgIcon-root {
        color: #1a1d24;
        font-size: 20px;
      }
    }
  }

  .listText {
    .MuiTypography-root {
      font-family: "Roboto-Medium";
      white-space: nowrap;
      font-size: 10px;
      letter-spacing: 2px;
      color: #1a1d24;
    }
  }
  .listText.selected {
    .MuiTypography-root {
      color: #f4ce92;
    }
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  .menuDrawer {
    &.MuiDrawer-root {
      width: 0px;
      .MuiPaper-root {
        width: 0px;
      }
    }
  }

  .menuDrawer.open {
    &.MuiDrawer-root {
      width: 0px;
      .MuiPaper-root {
        width: 200px;
      }
    }
  }

  .menuList.open {
    &.MuiList-root {
      width: unset;
      .selectedList {
        &.MuiListItemButton-root {
          width: 190px;
        }
      }
      .selectedChildList {
        &.MuiListItemButton-root {
          width: 180px;
        }
      }
    }
  }

  .list-icon {
    &.MuiListItemIcon-root {
      .MuiSvgIcon-root {
        color: #1a1d24;
        font-size: 20px;
      }
    }
  }

  .listText {
    .MuiTypography-root {
      font-family: "Roboto-Medium";
      white-space: nowrap;
      font-size: 10px;
      letter-spacing: 2px;
      color: #1a1d24;
    }
  }
  .listText.selected {
    .MuiTypography-root {
      color: #f4ce92;
    }
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .menuDrawer {
    &.MuiDrawer-root {
      width: 0px;
      .MuiPaper-root {
        width: 0px;
      }
    }
  }

  .menuDrawer.open {
    &.MuiDrawer-root {
      width: 0px;
      .MuiPaper-root {
        width: 200px;
      }
    }
  }

  .menuList.open {
    &.MuiList-root {
      width: unset;
      .selectedList {
        &.MuiListItemButton-root {
          width: 190px;
        }
      }
      .selectedChildList {
        &.MuiListItemButton-root {
          width: 180px;
        }
      }
    }
  }

  .list-icon {
    &.MuiListItemIcon-root {
      .MuiSvgIcon-root {
        color: #1a1d24;
        font-size: 20px;
      }
    }
  }

  .listText {
    .MuiTypography-root {
      font-family: "Roboto-Medium";
      white-space: nowrap;
      font-size: 10px;
      letter-spacing: 2px;
      color: #1a1d24;
    }
  }
  .listText.selected {
    .MuiTypography-root {
      color: #f4ce92;
    }
  }
}

//
