.active-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #4caf4f75;
  }
}

.pending-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #808080;
  }
}

.checked-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #01b0f1;
  }
}
.received-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #1e90ff;
  }
}

.computation-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #ffa500;
  }
}

.approval-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #ffd700;
  }
}

.approved-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #56a156;
  }
}

.voiding-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #ff4500;
  }
}

.void-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #af4c4c75;
  }
}

.return-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #f578f5;
  }
}

.preparation-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #87cefa;
  }
}

.release-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #ee82ee;
  }
}

.clearing-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #008080;
  }
}

.filing-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #e68a8a;
  }
}

.filed-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #08c708;
  }
}

.inActive-indicator {
  &.MuiChip-root {
    border-radius: 20px;
    font-size: 10px;
    font-family: Roboto-Medium;
    color: #1a1d24;
    background-color: #af4c4c75;
  }
}
