.transaction-modal-container {
  &.MuiPaper-root {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }
}

.transaction-image {
  width: 75px;
}

.transaction-text {
  &.MuiTypography-root {
    font-family: Roboto-Black;
    font-size: 25px;
    letter-spacing: 1px;
  }
}

.form-title-transaction {
  &.MuiBox-root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
}

.form-tax-details {
  &.MuiBox-root {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
}

.tax-details-value {
  &.MuiPaper-root {
    padding: 10px;
    display: flex;
    cursor: pointer;
    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.add-tax-computation {
  &.MuiButtonBase-root {
    text-transform: none;
    margin-bottom: 10px;
    font-family: Roboto-Black;
    font-size: 11px;
    letter-spacing: 1px;
    width: 5%;
  }
}

.form-title-text-transaction {
  &.MuiTypography-root {
    font-family: Roboto-Black;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.form-container-transaction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.transaction-devider {
  &.MuiDivider-root {
    width: 100%;
    margin-right: 3px;
  }
}

.transaction-form-textBox {
  &.MuiFormControl-root {
    border-radius: 10px;
    min-width: 230px;
    max-width: 230px;
    min-height: 63px;

    .MuiInputBase-root {
      border-radius: 10px;
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormLabel-root {
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormHelperText-root {
      font-family: Roboto-Light;
      letter-spacing: 1px;
    }
  }
}

.transaction-tax-textBox {
  &.MuiFormControl-root {
    border-radius: 10px;
    min-width: 210px;
    max-width: 210px;
    min-height: 63px;

    .MuiInputBase-root {
      border-radius: 10px;
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormLabel-root {
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormHelperText-root {
      font-family: Roboto-Light;
      letter-spacing: 1px;
    }
  }
}
.transaction-form-date {
  &.MuiFormControl-root {
    border-radius: 10px;
    min-width: 230px;
    max-width: 230px;
    min-height: 63px;

    .MuiInputBase-root {
      border-radius: 10px;
      font-family: Roboto-Medium;
      letter-spacing: 1px;
      font-size: 14px;
      max-height: 40px;
    }
    .MuiFormLabel-root {
      overflow: visible !important;
      line-height: 9px;
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormHelperText-root {
      font-family: Roboto-Light;
      letter-spacing: 1px;
    }
    .MuiSvgIcon-root {
      font-size: 20px;
    }
  }
}

.date-picker-container-transaction {
  &.MuiBox-root {
    position: relative;
    display: flex;
    flex-direction: column;
    .MuiTypography-root {
      position: absolute;
      font-family: Roboto-light;
      font-size: 12px;
      letter-spacing: 1px;
      margin-left: 15px;
      bottom: 0;
    }
  }
}

.add-transaction-button-container {
  &.MuiBox-root {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    min-width: 950px;
  }
}

.return-receive-container {
  &.MuiBox-root {
    display: flex;
    gap: 10px;
  }
}

.archive-transaction-button-container {
  &.MuiBox-root {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
  }
}

.tax-computation-button-container {
  &.MuiBox-root {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
  }
}

.transaction-form-field-textBox {
  &.MuiFormControl-root {
    border-radius: 10px;
    min-height: 63px;

    .MuiInputBase-root {
      border-radius: 10px;
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormLabel-root {
      font-family: Roboto-Medium;
      letter-spacing: 1px;
    }
    .MuiFormHelperText-root {
      font-family: Roboto-Light;
      letter-spacing: 1px;
    }
  }
}

.add-transaction-button {
  &.MuiButtonBase-root {
    font-family: Roboto-Medium;
    text-transform: none;
  }
}

.trash-transaction-button {
  &.MuiButtonBase-root {
  }
}

.loading-transaction-create {
  .MuiPaper-root {
    box-shadow: none;
    background-color: transparent;
    width: 325px;
  }
}
